<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Movie-Review</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>users</display-name>
    <servlet-name>users</servlet-name>
    <servlet-class>users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetailServlet</display-name>
    <servlet-name>MovieDetailServlet</servlet-name>
    <servlet-class>MovieDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetailServlet</servlet-name>
    <url-pattern>/MovieDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>